:root{
    --color1:#369cdd;
    --color2:#e9c6a0;
    --color3:#147c5c;
    --color4:white;
    --color5:#c9c9c9;
    --color6:#dcdcdc;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.Nombre {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: 600;
}

.color__h2-1 {
    color: white;
    font-size: 32px;
}

.color__h2-2 {
    color: var(--color2);
    font-size: 32px;
}

.Paragre {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
}

.Paragre__p {
    color: white;
    font-size: 17px;
}

.foto {
    width: 100px;
    height: 130px;
    border-radius: 50%;
    background-image: url(Perfil.jpeg);
    background-repeat: no-repeat;
    background-size: contain;

}

.box-icono {
    margin-bottom: 5px;
    width: 180px;
    height: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.box1 {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.box1-div {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx.bxl-linkedin {
    color: var(--color3);
    font-size: 20px;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box2-div {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx.bxl-twitter {
    color: var(--color3);
    font-size: 20px;
}

.box3 {
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

.box3-div {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx.bxl-instagram-alt {
    color: var(--color3);
    font-size: 20px;
}

.box-experient1 {
    width: 80px;
    height: 30px;
    border-radius: 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 3px solid var(--color4);
    left: 45px;
    top: 130px;
    padding-top: 5px;

}

.box-experient1-h2 {
    font-size: 10px;
}

.box-experient1-p {
    color: var(--color2);
    font-size: 12px;
}

.box-experient2 {
    width: 80px;
    height: 30px;
    border-radius: 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 3px solid var(--color4);
    right: 45px;
    top: 170px;
    padding-top: 5px;

}

.box-experient2-h2 {
    font-size: 10px;
}

.box-experient2-p {
    color: var(--color2);
    font-size: 12px;
}